# Dependencies
node_modules/
**/node_modules/
.venv/
**/.venv/
__pycache__/
**/__pycache__/
*.pyc

# Next.js & Build outputs
.next/
**/dist/
dist/
*.tsbuildinfo
**/*.tsbuildinfo

# Environment files
.env
.env*.local
**/.env